---
layout: defaultSimple
---

<section class="container">
<div class="grid_12 alpha"> 
<div class="title">
	    <h4>Contacto</h4>
</div>

			<article class="SubContent">
				<h3>Póngase en contacto con el periódico La Jornada Zacatecas:</h3>
	             <div class="grid_9 omega" style="max-height: 320px;">
	             	<p>La Jornada Zacatecas esta anuente a los comentarios de sus lectores, puede poner en contacto con nosotros a través de los siguientes medios:
	             	 - Secretaría de Comunicaciones y Transportes No. 100, Col. Zona Industrial, Guadalupe Zacatecas. 98604 México.

					Teléfono: (492) 923 74 40
 					sitio web: http://www.ljz.mx </p>
                 </div>
	            </article>
</div>

 <div class="grid_4 omega">
	<div class="news_section p-top">
	  {{template "gsb.html" .}}
	</div>
	<div class="title">
	  <h4>NOTICIAS AL DÍA</h4>
	</div>
	<div class="list">
	  <ul class="mycarousel jcarousel jcarousel-skin-tango">
	    {{range .site.MinuteByMinute}}
	    <li><a href="{{.GetUrl}}">{{.title}}</a></li>
	    {{end}}
	  </ul>
	</div>
	<div class="news-pagination"> <small>MAS NOTICIAS</small></div>
	<div class="news_section desktop-search">
	  {{template "lajornadatv.html" .}}
	</div>
	
	<!-- Sección del boletín -->

	{{template "boletin.html" .}}

	<!--Fin de sección de boletín-->
	
	  {{template "encuesta.html" . }}
	  
      </div>

</section>

