---
layout: default
---

{{define "seccion"}}
{{if .}}
{{$first := index . 0 }}
<div class="news_tpoic">
<div class="title">
  <h4>{{ $first.GetCategories }}</h4>
</div>
<div class="figure">
  <a href="{{$first.url}}"><img src="{{$first.MainImg}}" alt="pic" /></a></div>
<ul class="news-filter mycarousel jcarousel jcarousel-skin-tango">


{{ range . }}
        <li>
        <h3>{{ .title }}</h3>
        <a href="#" > {{ .author }} {{ .twitt}}
        </a>
</li>
{{ end }}

</ul>
</div>
<!-- section frst end -->
        <div class="news-pagination"> <small>MAS NOTICIAS</small> </div>

{{else}}
	<div class="news_tpoic">
<div class="title">
  	        No hay notas de esta sección
</div>
</div>
{{end}}
{{end}}

{{define "laNotaPrincipal"}}
{{if .}}
{{$first := index . 0 }}

	<div class="carousel_Section">
	  <div class="title">
	    <h4>{{ $first.GetCategories }}</h4>
	  </div>
	  <div class="currentNews">
	    <div class="new-content">

	      <div class="slider flexslider">
	        <ul class="slides">
                  {{ range . }}
	          <li>
	            <article class="SubContent">
	            <h1>{{ .title }}</h1>
	              <div class="grid_7 alpha">
	                <ul class="comment">
	                  <li><a href="#">{{ .author }} </a>/</li>
	                  <li><a href="#">{{ .date | date_to_string }}</a>/</li>
	                  <li class="comment_icon"><a href="{{ .url }}#disqus_thread"># </a></li>
	                </ul>
	                <p>{{ .GetIntrotext }} <a href="{{ .url }}">Leer más...</a> </p>
	              </div>
	              <div class="grid_9 omega" style="max-height: 320px;">
                  <div style="max-height:260px; width:auto;"><img src="{{ .MainImg }}" alt="pic" /> </div></div>
	            </article>
	          </li>
	          {{ end }}
	        </ul>
	      </div>
	      <div class="carousel_slider">
	        <div class="carousels flexslider">
	          <ul class="slides">
                    {{ range . }}
	            <li><img src="{{ .MainImgThumb }}" style="max-height:90px; width:auto" alt="pic"></li>
                    {{ end }}
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
{{ else }}
  No hay nota principal
{{ end }}
{{ end }}



{{define "cuadrosecciones"}}
{{if .}}
{{$first := index . 0 }}

<li>
  <div class="carousel-content">
    <h5>{{ $first.GetCategories }}</h5>
		<a href="{{ $first.url }}">	
      <img src="{{$first.MainImgSize "b"}}" alt="pic" />
      <p>{{ $first.twitt}}</p>
    </a>
  </div>
</li>
{{else}}
        No hay notas de esta sección
{{end}}
{{end}}


{{define "columnas"}}
{{if .}}
{{$first := index . 0 }}
			<article class="section"> <strong> {{ $first.GetCategories }}</strong>
				<h2> {{ $first.title}} </h2>
				<ul class="comment">
	                  <li><a href="#">{{ $first.author }} </a>/</li>
	                  <li><a href="#">{{ $first.date | date_to_string }}</a>/</li>
	                  <li class="comment_icon"><a href="{{ $first.url }}#disqus_thread"># </a></li>
	                </ul>
	                <p>{{ $first.GetIntrotext }} <a href="{{ $first.url }}">Leer más...</a> </p>
	        </article>	
		 
{{else}}
        No hay notas de esta sección
{{end}}
{{end}}
<!-- TERMINA PARTE DEFINICIONES -->


<!-- INICIA CONTENIDO DE PAGINA PRINCIPAL -->

    <!-- Container Section -->
    <section class="container">

      <!-- Left Section -->
      <div class="grid_12 alpha">
      		{{ template "laNotaPrincipal" index .site.categories "Portada"}}
      <div class="grid_16 dot">
                                <div class="grid_8 alpha"> 
                                          <!-- section frst -->
                                          
                                <div class="search ipod-search">
                                <label>Buscar:</label>
                                <span>
                                <input type="text" name="search" />
                                <input type="submit" name="search" />
                                </span> <a href="#">Búsqueda avanzada</a> </div>
                                  
                                <div class="news_section ipod-search">
	                                <div class="title">
	                                          <h4>JORNADA TV</h4>
	                                </div>
	                                <p>Capataz de la empresa coreana Sam Won ubicade en el Parque Industrial Querétaro, golpeó a un trabajador mexicano.</p>
	                                <figure> <img src="Assets/images/video_img.jpg" alt="video"> </figure>
                                </div>
	    <!-- section frst -->
	    	{{ template "seccion" index .site.categories "Principales" }}
	    	{{ template "seccion" index .site.categories "Destacadas" }}
	   		{{ template "seccion" index .site.categories "Mundo" }}

	    <!-- section frst end -->
	  </div>
	  <div class="grid_8 omega">
	    <div class="figure"> <a href="#"><img src="/Assets/images/add-3.jpg" alt="add" /></a> </div>
	    <div class="news_tpoic">
	      <div class="title">
	        <h4>COLUMNAS</h4>
	      </div>
	       {{ template "columnas" index .site.categories "Editorial"}}
		   {{ template "columnas" index .site.categories "La Jiribilla"}}
	       {{ template "columnas" index .site.categories "Opinión"}}
	      <!-- section frst -->
	      {{ template "seccion" index .site.categories "Mundo" }}

	      <!-- section frst end -->

	      <div class="news-pagination"> <small>MAS NOTICIAS</small> </div>
	    </div>
	  </div>
	</div>
	<!-- Left Section End -->
      </div>
      <div class="grid_4 omega">
	<div class="news_section p-top">
	  {{template "gsb.html" .}}
	</div>
	<div class="title">
	  <h4>NOTICIAS AL DÍA</h4>
	</div>
	<div class="list">
	  <ul class="mycarousel jcarousel jcarousel-skin-tango">
	    {{range .site.MinuteByMinute}}
	    <li><a href="{{.GetUrl}}">{{.title}}</a></li>
	    {{end}}
	  </ul>
	</div>
	<div class="news-pagination"> <small>MAS NOTICIAS</small></div>
	<div class="news_section desktop-search">
	  {{template "lajornadatv.html" .}}
	</div>
	<div class="news_section">
	  <div class="title">
	    <h4>FUERA DE FOCO</h4>
	  </div>
	  <div class="news"> <h3><a href="#">Galería de fotografías interactivas de actualidad</a></h3>
	    <div class="slider flexslider">
	      <ul class="slides">
	        <li><a href="javascript:void(0)"><img src="/Assets/images/temple.jpg" alt="Temple"></a></li>
	        <li><a href="javascript:void(0)"><img src="/Assets/images/temple.jpg" alt="Temple"></a></li>
	        <li><a href="javascript:void(0)"><img src="/Assets/images/temple.jpg" alt="Temple"></a></li>
	      </ul>
	    </div>

	    <p>Catedral de Zacatecas, declarada Patrimonio Cultural de la Humanidad por la UNESCO...</p>

	  </div>
	</div>
	<!-- Sección del boletín -->

	{{template "boletin.html" .}}

	<!--Fin de sección de boletín-->

	<div class="news_section">
	  <div class="title">
	    <h4>ESPECIALES LA JORNADA</h4>
	  </div>
	  <div class="news"> <h3><a href="#">Guía XXI Historia y Geografía de Zacatecas</a></h3>
	    <figure> <img src="/Assets/images/book.png" alt="video"> </figure>
	    <p>Complemento ideal para el trabajo escolar. Con información histórica y geografica actualizada hasta el siglo xxi. </p>
	  </div>
	</div>
	
	  {{template "encuesta.html" . }}
	
	<div class="news_section app">
	  <div class="title">
	    <h4>LAS APPS</h4>
	  </div>
	  <a href="#"><img src="/Assets/images/app.png" alt="app"></a>
	</div>
      </div>
    </section>
    <!-- Container Section End-->
