---
layout: default
---

{{ range $catname,$catposts := .site.categories }}
<!-- section frst -->
<div class="news_tpoic">
<div class="title">
	<h4>{{ $catname }}</h4>
</div>
<div class="figure"> <img src="{{index $catposts 0 | .MainImg }}" alt="pic" /></div>
<ul class="news-filter mycarousel jcarousel jcarousel-skin-tango">
{{ range $catposts }}
	<li>
	<h3>{{ .title }}</h3>
	<a href="#" > {{ .author }} {{ .MainImg}} {{ .twitt}}
	</a>
</li>
{{ end }}
</ul>
</div>
<!-- section frst end -->
	<div class="news-pagination"> <small>MAS NOTICIAS</small> </div>
{{ end }}