---
layout: default
---

<!-- los templates estan en _layouts/bloques.html -->
{{ template "laNotaPrincipal" index .site.categories "Portada"}}
<div class="grid_16 dot">
  <div class="grid_8 alpha">
	  {{ template "seccion" index .site.categories "Zacatecas" }}    
	  {{ template "seccion" index .site.categories "Destacadas"}}
	  {{ template "seccion" index .site.categories "Mundo" }}
	</div>

	<div class="grid_8 omega">
	  {{ template "publicidad" index .site.categories "Publicidad"}}
	  <div class="news_tpoic">
	    <div class="title">
	      <h4>COLUMNAS</h4>
	    </div>
	      {{ template "columnas" index .site.categories "Editorial"}}
		  {{ template "columnas" index .site.categories "La Jiribilla"}}
		  {{ template "seccion" index .site.categories "A debate"}}
	  </div>
	</div>
</div>
<!-- Left Section End -->
</div>
