@charset "utf-8";
/* CSS Document */

.bottom-nav ul{width:79%;}
 .bottom-nav ul li{margin-left:8px !important;padding-left:8px !important;}
.search span{width:180px !important;}
  .navigation,.title {behavior:url(PIE.htc); zoom:1; position:relative; z-index:9;}
   .nav{border-radius:10px 10px 0 0;behavior:url(PIE.htc);zoom:1;}
   h4{behavior:url(PIE.htc); position:relative; z-index:9999;  background:#A52B27 url(../images/arrow.png) no-repeat 100% center !important;border-radius: 8px 0 0 8px;}
   .papper{z-index:99;}
   .nav li a{padding:13px 10px 7px !important;}
   .widget ul > li strong{ display:block;}
   .widget > ul ul{ border:1px solid transparent;margin-right:2% !important;}
  .carousel li{  margin-right:19px !important;}
  
  

h3,h2,h1,h5,h6{letter-spacing:-1px; word-spacing:-2px;}
