@charset "utf-8";
/* CSS Document */
.wrapper {
	max-width:960px;
	margin:0 auto;
}
/*========================================
Header Section Css
========================================*/
.header-wrap {
	width:100%;
	background:#a8a9ad;
	margin-bottom: 7px;
}
.header {
	max-width:960px;
	margin:0 auto;
	min-height:206px;
	text-align:center;
}
.header a.logo {
	display:inline-block;
}
.addSection {
	overflow:hidden;
}
.addSection a {
	display:block;
	float:left;
}
.addSection a + a {
	float:right;
}
/* ==============================
     Navigation Section
============================== */
.shadow {
	background:url(../images/shadow.png) center bottom no-repeat;
	padding-bottom:9px;
	overflow:hidden;
	position:relative;
}
.navigation {
	overflow:hidden;
	border-radius:10px;
	background:url(../images/navigation_bg.png) left top repeat-y;
	min-height:109px;
	position:relative;
}
.nav {
	width:100%;
	display:inline-block;
	background:url(../images/nav_bg.png) left top repeat-x;
}
.nav li {
	float: left;
	background:url(../images/divider.png) center right no-repeat;
	position:relative
}
.nav li.none {
	background:none;
}
.nav li a {
	font-size:1.6em;
	line-height:1.3;
	color:#fff;
	font-weight:600;
	display:block;
	padding:13px 14.5px 7px;
}
.nav li:first-child a {
	padding-left: 27px;
}
.nav li:hover {
	background: url(../images/nav_hover.png) left top repeat-x;
}
.sub-nav {
	display:inline-block;
	padding-top:41px
}
/* Dropdown Css */

.dropdwon {
	visibility:hidden;
	position:absolute;
	top:40px;
	left:-42px;
	width:670px;
	padding-bottom:9px;
	padding-top: 10px;
	box-shadow: 0 2px 5px #333333;
	background: #C2C2C2;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C2C2C2), to(#fefefe));
	background: -webkit-linear-gradient(#C2C2C2, #fefefe);
	background: -moz-linear-gradient(#C2C2C2, #fefefe);
	background: -ms-linear-gradient(#C2C2C2, #fefefe);
	background: -o-linear-gradient(#C2C2C2, #fefefe);
	background: linear-gradient(#C2C2C2, #fefefe);
	-pie-background: linear-gradient(#C2C2C2, #fefefe);
}
.nav li:hover .dropdwon {
	visibility:visible;
}
.dropdwon li a {
	font-size:1.3em;
	line-height:1.3;
	color:#333;
	font-weight:400;
	display:block;
	padding:0 !important;
}
.dropdwon li {
	float:none;
	background:url(../images/sub_nav_divider.png) center left no-repeat;
	padding:0 0 0 11px;
	display:inline-block;
}
.dropdwon li:hover {
	background:url(../images/sub_nav_divider.png) center left no-repeat;
}


/* ==============================
     Ipod Navigation Section
============================== */
.ipod-nav{ display:none; position:relative;}
.touch{width:82%;padding:0 9%;background:url(../images/nav_bg.png) left -2px repeat-x;min-height: 36px;line-height:2; border-radius:10px 10px 0 0;}
.touch span{font-size:1.8em; font-weight:600; color:#fff; display:inline-block;}
.touch span + span{background:url(../images/touch_icon.png) right center no-repeat; width:32px;height:auto; float:right; cursor:pointer;}
.ipod-nav > ul{padding-top:10px; display:none; position:absolute; top:36px; left:1px;width:99.5%; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); background:#fff; z-index:99; padding-bottom: 20px;}
.ipod-nav ul li{padding:2px 0; position:relative;}
.ipod-nav ul li a{font-size:1.4em; font-weight:600; color:#000; display:inline-block;line-height:1.5;padding-left:9%; position:relative;}
.ipod-nav ul li a span{background:url(../images/nav-bullet.png) left -8px no-repeat; width:8px; height:8px; display:block; position:absolute; top:7px;right:-15px;}
.ipod-nav ul li:hover a span{background:url(../images/nav-bullet.png) 0 0px no-repeat;}
.ipod-nav ul > li:hover{background:#9b2a28; color:#fff;}
.ipod-nav ul li:hover > a{ color:#fff;}
.ipod-nav ul li > ul{ position:absolute; top:2px; right:0; background:#9b2a28;width: 56%; z-index:9999;  padding-bottom: 12px; visibility:hidden; }
.ipod-nav ul li:hover > ul{ visibility:visible;}
.ipod-nav ul li > ul li a{color:#fff;}



.sub-nav li {
	float: left;
	background:url(../images/sub_nav_divider.png) center right no-repeat;
	padding:0 18px 0 14px;
}
.sub-nav li.none {
	background:none;
}
.sub-nav ul {
	margin-left: 11px;
	overflow: hidden;
}
.sub-nav li a {
	font-size:1.6em;
	line-height:1.3;
	color:#881b1e;
	font-weight:400;
	display:block;
}
.sub-nav li a:hover {
	color:#333;
}
.bar {
	width:100%;
	background:url(../images/bar_bg.jpg) left top no-repeat;
	overflow: hidden;
	padding-bottom: 27px;
}
.bar span {
	font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	line-height:2.5;
	display:inline-block;
}
.time-date {
	float:left;
	width:33%;
	margin-left:12px;
}
.social_icon {
	float:left;
	width:42%;
}
.social_icon li {
	float:left;
	margin-left:20px;
	margin-top: 7px;
}
.social_icon li a {
	display:block;
	text-indent:-9999px;
}
.social_icon li.rss a {
	background:url(../images/rss.png) left top no-repeat;
	width:57px;
	height:22px;
}
.social_icon li.tweet a {
	background:url(../images/tweet.png) left top no-repeat;
	width:86px;
	height:21px;
}
.social_icon li.facebook a {
	background:url(../images/facebook.png) left top no-repeat;
	width:88px;
	height:17px;
}
.social_icon li.youtube a {
	background:url(../images/youtube.png) left top no-repeat;
	width:59px;
	height:20px;
}
.temperature {
	float:right;
	width:20%;
}
.temperature span + span {
	background:url(../images/sun.png) center left no-repeat;
	padding-left:36px;
}
/*========================================
Container Section Css
========================================*/   
.container {
	overflow:hidden;
}
.carousel_Section {
	margin-bottom: 23px;
}
.currentNews {
	background:#d6d7d9;
	margin-top: 20px;
	border-radius:10px
}
.title {
	width:100%;
	background:#98999d;
	border-radius:8px;
	overflow:hidden;
}
.new-content {
	padding:12px 20px 22px;
}
.SubContent {
	overflow:hidden;
	padding-top:15px;
}
.SubContent p {
	padding-bottom: 16px;
}
.SubContent p a {
	color:#881B1E
}
.SubContent p a:hover {
	text-decoration:underline;
}
.news_tpoic .comment {
	padding-bottom:6px;
}
.comment {
	overflow:hidden;
	padding-bottom: 10px;
	padding-top: 2px
}
.comment li {
	float:left;
	color:#881B1E;
	font-size:1.2em;
	font-weight:600;
	line-height: 2;
	padding-right:9px;
	font-family: 'Exo', sans-serif;
}
.comment li a {
	color:#881B1E;
	padding-right:9px;
	font-size:12px;
	font-family: 'Exo', sans-serif;
}
.comment li.comment_icon {
	background:url(../images/comment.png) center left no-repeat;
	padding-left:30px;
}
.news_list {
	overflow:hidden;
	padding-left: 9px;
}
.news_list li {
	background:url(../images/bullet.png) left 3px no-repeat;
	padding-left:20px;
	padding-bottom: 13px;
}
.news_list li a {
	color:#881B1E;
	font-size:1.5em;
	font-weight:800;
}
.new-content .grid_9 img {
	display:block;
	border:4px solid #fff;
	width:98%
}
.carousel_slider {
	margin-top: 13px;
}
.grid_16 .title {
	margin-bottom:16px;
}
.news_tpoic a {
	font-size:13px;
	color:#333;
	line-height: 1.1;
	font-family:Arial, Helvetica, sans-serif;
}
.news-pagination {
	text-align:right;
	border-bottom:2px solid #666;
	padding-bottom:4px;
	margin-bottom:12px;
}
.news-pagination small {
	font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:600;
	line-height: 1.5;
	padding-top: 5px;
	display:inline-block;
	margin-right:49px;
}
.news-pagination a {
	background:url(../images/news-pagination.png) left top no-repeat;
	width:36px;
	height:15px;
	display:inline-block;
}
.news-filter {
	border-bottom:1px solid #666;
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}
.news-filter li {
	padding-bottom:19px;
}
.news_tpoic strong {
	font-size:1.6em;
	line-height:1.4;
	color:#666;
	font-weight:800;
	border-bottom:1px solid #808080;
	display:block;
	margin-bottom:5px;
}
.news_tpoic .comment {
	margin-top:4px;
}
.news_tpoic p {
	padding-bottom:7px;
}
.news_tpoic p a {
	color:#881B1E;
}
.news_tpoic p a:hover {
	text-decoration:underline;
}
.description {
	overflow:hidden;
}
.news-content {
	width:49%;
	float:left;
}
.description img {
	float:right;
}
.news_tpoic .news-content a {
	font-size:1.2em;
	color:#000;
	font-weight:100;
	line-height: 1.2;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
}
.news_tpoic .news-content a strong {
	font-size:12px;
	display:inline-block;
	border:none;
	padding:0;
	margin:0;
	color:#000;
	font-weight:bold;
}
.section {
	margin-bottom:8px;
}
.news_tpoic .description a:hover {
	text-decoration:underline;
}
.news-sub-headline {
	padding-top:10px;
}
.figure img {
	width:100%;
	display:block;
}
/*========================================
Right Section Css
========================================*/ 

.search {
	overflow:hidden;
	padding: 6px 5px 10px;
	margin-bottom:17px;
	background:#d6d7d9;
}
.search label {
	font-size:1.3em;
	color:#000;
	font-weight:600;
	line-height: 1.2;
	float:left;
	margin-top: 10px;
}
.search span {
	float:right;
	width:188px;
	display:block;
	padding: 4px 0;
}
.search input[type="text"] {
	border:1px solid #333;
	background:#fff;
	padding-left: 2%;
	padding-right: 2%;
	width: 82%;
	height:15px;
	float:left;
}
.search input[type="submit"] {
	border:none;
	background:url(../images/submit_bg.jpg) left top no-repeat;
	width:12%;
	height:20px;
	position:relative;
	top:-2px;
	float:right;
	display:block;
	text-indent:-9999px;
	cursor:pointer;
}
.search a {
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	font-size:1.3em;
	color:#881B1E;
	font-weight:600;
}
.list {
	margin-top:11px;
	border-bottom: 1px solid #666666;
	padding-bottom: 14px;
}
.list ul li {
	background:url(../images/bullet_pagination.jpg) left 3px no-repeat;
	padding-left:20px;
	margin-bottom: 12px;
}
.list ul li a {
	font-size:1.6em;
	color:#333;
	font-weight:800;
}
.grid_4 .title {
	border-radius:4px;
}
.dot {
	background:url(../images/dot.png) center top repeat-y;
}
.papper {
	position:absolute;
	right:8px;
	top:4px;
}
.papper span {
	display:block;
	color:#fff;
	font-size:1.1em;
	margin-left: 10px;
}
.news_section {
	padding-bottom:22px;
}
.news_section .news h3 {
	font-size:1.8em;
	color:#881B1E;
	font-weight:700;
	padding-bottom:0;
}
.news_section .news h3 a {
	color:#881B1E;
	display:block;
}
.news_section .title {
	margin-bottom:10px;
}
.news_sectionfigure {
	margin-top:4px;
}
.news {
	background:#d6d7d9;
	border-radius:10px;
	padding: 14px;
}
.news_section p {
	padding-bottom:5px;
}
.subscribe {
	border:1px solid #666;
	padding:10px;
}
.subscribe span {
	display:block;
	overflow:hidden;
	margin-bottom:8px;
}
.subscribe span label {
	display:inline-block;
	font-size:1.4em;
	font-weight:600;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:5px;
	
}
.subscribe .check span label{min-width:76px}
.subscribe span input[type="text"] {
	background:#fff;
	border:1px solid #666;
	width:64%;
	height:22px;
	padding:0 8px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
}
.subscribe input[type="submit"] {
	background:#A52B27;
	color:#fff;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	line-height:2;
	padding:3px;
	margin:8px 0 0 66px;
	cursor:pointer;
}
.subscribe input[type="submit"]:hover {
	background:#666;
}
.checkBox {
	background:#d2d2d2;
	border-radius:4px;
	border:none;
	padding:4px;
}
.checkBox span {
	display:inline-block;
}
.check {
	background:#fff;
	padding:8px;
}
.check fieldset {
	background:#cfcfcf;
	padding:5px 2px 5px 26px;
	margin:8px 0 11px;
}
.check fieldset span {
	display:inline-block;
}
.checkBox span {
	display:block;
}
.checkBox span a {
	background:#A52B27;
	text-transform:uppercase;
	color:#fff;
	display:inline-block;
	padding:4px;
	font-size:1.4em;
	float:left;
}
.checkBox span a + a {
	float:right;
}
.news img {
	display:block;
	margin:0 auto;
	width:95%;
}
.news_section .slider {
	padding:10px 0;
}
.news_section .slider li {
	float:left;
	background:#fff;
	padding:5px 0;
}
.news_section .slider .flex-direction-nav {
	position:absolute;
	width:100%;
	top:38%;
}
.ipod-search{ display:none;}
.inner .news_section {
	padding-top:0;
}
.news_section .slider .flex-next {
	background: url(../images/pagination.png) no-repeat scroll -28px top;
	display: block;
	height:35px;
	position: absolute;
	right: 10px;
	text-indent:-9999px;
	top: 36%;
	width:28px;
	
}
.news_section .slider .flex-prev {
	background: url(../images/pagination.png) no-repeat scroll left top;
	display: block;
	height:35px;
	left: 10px;
	position: absolute;
	text-indent:-9999px;
	top: 36%;
	width:28px;
}
.figure-slider .slider .flex-next {
	background: url(../images/pagination.png) no-repeat scroll -28px top;
	display: block;
	height:35px;
	position: absolute;
	right: 10px;
	text-indent:-9999px;
	top: 36%;
	width:28px;
	
}
.figure-slider .slider .flex-prev {
	background: url(../images/pagination.png) no-repeat left top;
	display: block;
	height:35px;
	left: 10px;
	position: absolute;
	text-indent:-9999px;
	top: 36%;
	width:28px;
	
}
/*========================================
Bottom Section Css
========================================*/ 
.container_16 .grid_16.bottomSection {
	margin-top:6px;
}
.bottomSection h5{text-transform:uppercase;}
.bottomSection .title strong {
	font-size:1.2em;
	font:Arial, Helvetica, sans-serif;
	display:inline-block;
	float:right;
	line-height: 2;
	margin-right: 49px;
	color:#000;
}
.carousel {
	display:inline-block;
	width:100%;
}
.carousel li {
	float:left;
	margin-right:14px;
	width: 229px;
	background:#d2d2d2;
	padding-bottom: 10px;
	border-radius:10px;
}
.carousel-content span {
	font-size:1.6em;
	color:#881B1E;
	font-weight:600;
	display:block;
	padding-left: 14px;
	padding-top:15px;
}
.carousel li.last {
	margin-right:0;
}
.carousel-content a {
	display:block;
}
.carousel-content a img {
	border: 5px solid #FFFFFF;
	display:block;
	margin:0 auto;
}
.bottom-nav {
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	overflow:hidden;
	margin-top:18px;
	padding-top:6px;
	padding-bottom: 3px;
}
.bottom-nav a {
	display:inline-block;
}
.bottom-nav ul {
	float:right;
}
.bottom-nav ul li {
	float:left;
	background:url(../images/bottom-nav-line.jpg) left center no-repeat;
	margin-left: 16px;
	padding-left: 12px;
	line-height: 2.5;
}
.bottom-nav ul li a {
	font-size:1.4em;
	color:#881B1E;
	font-weight:700;
	display:block;
}
.bottom-nav ul li a:hover {
	color:#333;
}
.link_interes {
	margin-top:21px;
}
.grid_16 .link_interes .title {
	margin-bottom:0;
}
.link_interes ul {
	overflow:hidden;
	padding-bottom:15px;
}
.link_interes li {
	float:left;
	margin-right:16px;
}
.link_interes li.last {
	margin-right:0;
}
/*========================================
Footer Section Css
========================================*/ 
.footer-wrap {
	width:100%;
	background:#a8a9ad;
	overflow: hidden;
}
.footer {
	max-width:960px;
	margin:0 auto;
}
.footer-content {
	margin: 0 auto;
	padding-top: 16px;
	width:82%;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	min-height:90px;
	padding-right:9%;
	padding-left:9%;
}
.footer-content span, .footer-content address {
	font-size:1.2em;
	color:#333;
	display:block;
	line-height:1.2;
	margin-bottom:8px;
}
.footer-content address a {
	color:#333;
	font-size:12px;
}
/* js carousel Css */
.carousel_Section .slider .flex-direction-nav {
	display:none;
}
.carousel_slider .carousels li img {
	border:3px solid #fff;
}
.flexslider {
	position:relative;
}
.carousel_slider .carousels li {
	margin-right:18px;
}
.carousel_slider .flex-viewport {
	width:92%;
	margin:0 auto;
}
.carousel_slider .flex-direction-nav {
}
.carousel_slider .flex-prev {
	background:url(../images/next-prev.jpg) left top no-repeat;
	width:10px;
	height:15px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	top:36%;
	left:10px;
}
.carousel_slider .flex-next {
	background:url(../images/next-prev.jpg) -10px top no-repeat;
	width:10px;
	height:15px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	top:36%;
	right:10px;
}
.va-slice {
	cursor: pointer;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.va-container {
	position: relative;
}
.va-accordion, #va-accordion-1 {
	width:100% !important;
}
.va-nav .va-nav-prev {
	background:url(../images/news-pagination.png) left top no-repeat;
	width:17px;
	height:15px;
	display:block !important;
	opacity:1 !important;
	float:left;
	text-indent:-9999px;
	cursor:pointer;
}
.va-nav .va-nav-next {
	background:url(../images/news-pagination.png) -19px top no-repeat;
	width:17px;
	height:15px;
	display:block !important;
	float:left;
	text-indent:-9999px;
	opacity:1 !important;
	cursor:pointer;
}
.va-nav {
	float: right;
	margin-top: 6px;
	overflow: hidden;
	width: 36px;
}
.carouse-bottom .flex-direction-nav {
	position:absolute;
	top:0;
	width:100%;
}
.carouse-bottom .flex-direction-nav li {
	background:none;
}
.carouse-bottom .flex-prev {
	background:url(../images/prev.jpg) left top no-repeat;
	width:8px;
	height:12px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	top:-34px;
	right:29px;
}
.carouse-bottom .flex-next {
	background:url(../images/prev.jpg) -8px top no-repeat;
	width:8px;
	height:12px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	top:-34px;
	right:11px;
}
.container {
	background:url(../images/dot.png) 72.5% 0 repeat-y;
}
/*=========================================== 
          Inner Page Css 
===========================================*/
.widget {
	width:100%;
	height:30px;
	margin-top:13px;
	border-top: 1px solid #696A6E;
	border-bottom: 1px solid #696A6E;
}
.widget > ul {
	overflow:hidden;
	padding:5px 0;
}
.widget > ul ul {
	overflow:hidden;
	margin-right:12%;
	padding-top: 2px;
	width:100%;
}
.widget ul > li {
	float:left;
}
.widget ul > li.social-plugin {
	margin:-2px 4% 0 5.5%;
}
.widget ul > li.pdf_icon {
	margin:0 1.7%;
}
.widget ul > li.plus_icon {
	float:left;
}
.widget ul > li.comment-icon span {
	background:url(../images/comment_icon.png) left top no-repeat;
	line-height: 1.8;
	padding-left: 24px;
	padding-bottom:3px;
}
.widget ul > li.printer a {
	background:url(../images/printer.png) left top no-repeat;
	width:18px;
	height:17px;
	display:block
}
.widget ul > li.pdf_icon a {
	background:url(../images/pdf_icon.png) left top no-repeat;
	width:15px;
	height:18px;
	display:block
}
.widget ul > li.mail_icon a {
	background:url(../images/mail_icon.png) left top no-repeat;
	width:18px;
	height:19px;
	display:block
}
.widget ul > li.plus_icon a {
	background:url(../images/plus_icon.png) left top no-repeat;
	width:23px;
	height:14px;
	display:block
}
.widget ul > li.minus_icon{margin-left:12px;}
.widget ul > li.minus_icon a {
	background:url(../images/minus_icon.png) left top no-repeat;
	width:18px;
	height:14px;
	display:block
}
.widget ul > li strong {
	font-size:11px;
	font-weight:bold;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.widget ul > li span {
	font-size:11px;
	font-weight:bold;
	color:#666;
}
.widget ul > li a {
	font-size:11px;
	font-weight:bold;
	color:#666;
}
.widget ul > li a:hover {
	text-decoration:underline;
}
.widget ul > li ul li.none {
	background:none;
	width:auto;
	padding-top: 5px;
}
.widget ul > li ul li {
	margin-right: 2px;
}
.widget ul > li ul li a {
	background:url(../images/star.png) 0px 0 no-repeat;
	width:15px;
	height:14px;
	display:block;
	float:left;
}
.widget ul > li ul li.star a {
	background-position:-15px 0;
}
.article {
	padding-top:27px;
}
.figure-slider {
	width:42%;
	float:left;
	padding:17px 18px;
	margin-right:14px;
	background:#d2d2d2;
}
.figure-slider span {
	font-size:1.1em;
	font-weight:bold;
	color:#000;
	display:block;
	margin-top: 15px;
}
.article .comment {
	margin-bottom: 9px;
	margin-top: 22px;
}
.article .flex-direction-nav {
	position:absolute;
	width:100%;
	top:50%;
}
.figure-slider .flex-viewport li a {
	display:block;
	border:3px solid #fff;
}
.figure-slider .flex-viewport li a img {
	width:100%;
	display:block;
}
.ralated {
	border-bottom:1px solid #696a6e;
	width:100%;
	padding-bottom:10px;
}
.ralated strong {
	font-size:1.9em;
	font-weight:500;
	color:#343335;
	margin-bottom: 8px;
	display:block;
}
.ralated ul {
	margin-left: 26px;
}
.ralated li {
	background:url(../images/ralated-bullet.jpg) left top no-repeat;
	margin-bottom:5px;
	padding-left:15px;
}
.ralated li a {
	color:#921B1E;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	font-weight:bold;
}
.comment-post a.click_here {
	font-size:1.6em;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	background:#921B1E;
	display:inline-block;
	padding:5px 10px;
	margin-bottom: 28px;
	line-height: 1.2;
}
.comment-post strong {
	font-size:1.8em;
	font-weight:700;
	color:#666;
	display:block;
}
.comment-post p {
	padding-bottom:20px;
}
.comment-post ul {
	margin-top:18px;
}
.comment-post li {
	overflow:hidden;
}
.comment-post li figure {
	display:inline-block;
	float:left;
}
.comment-details {
	float:right;
	width:88%;
}
.comment-details a {
	font-size:1.3em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	display:inline-block
}
.comment-details span {
	font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	display:inline-block
}
.comment-post {
	padding-top:10px;
}
.partner {
	padding-top: 13px;
}
.partner li {
	overflow:hidden;
	width:100%;
}
.partner li figure {
	float:left;
}
.partner li .intro {
	float:right;
	width:56%;
}
.partner li .intro h6 a {
	color:#921B1E;
}
.partner li .intro h6 a:hover {
	text-decoration:underline;
}
.p-top {
	padding-top:0;
}
