@charset "utf-8";
/*==================================================
 Eric Meyer's Global CSS Reset
 ==================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
	font-family: 'Exo', sans-serif;
	font-size:62.5%;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none;
}
:focus {
	outline:none;
}
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a {
	text-decoration:none;
}

h1 {
	font-size:3.8em;
	color:#881B1E;
	font-weight:700;
}
h2 {
	font-size:3em;
	color:#333333;
	font-weight:700;
	line-height:1.1;
}

h3 {
	font-size:2em;
	color:#333333;
	font-weight:700;
	line-height:1.1;
	padding-bottom:3px;
}
h4 {
	font-size:1.6em;
	color:#fff;
	font-weight:700;
	background:#a52b27 url(../images/arrow.png) center right no-repeat;
	display:inline-block;
	line-height: 1.5;
	padding-left: 8px;
	padding-right: 17px;
	text-transform:uppercase;
}
h5 {
	font-size:1.6em;
	color:#fff;
	font-weight:600;
	background:#97999c;
	 line-height: 1.6;
    margin-bottom: 15px;
    padding-left: 14px;
    border-radius:6px;
}

h6 {
	font-size:1.6em;
	color:#921B1E;
	font-weight:700;
	padding-bottom: 4px;

}
p {
	font-size:1.3em;
	color:#000;
	/* font-weight:700; */
	line-height:1.2;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:23px;
}
.figure {
	margin-bottom:10px;
}

.addthis_toolbox .at15t_compact {
    margin-right: 0;
}