.jcarousel-skin-tango {
	border-bottom: 1px solid #808080;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 245px;
	padding-bottom: 20px;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
	width:100%;
	height:312px;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:  245px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
	width:100%;
	height:312px;
}
.jcarousel-skin-tango .jcarousel-item {
	width:100%;
	height:auto;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 10px;
  height:280px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom:3px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}

#mycarousel2-prev {
    background:url(../images/prev.jpg) left top no-repeat;
    width:8px;
    height:12px;
    margin-top:6px;
	opacity:1 !important;
	float:left;
	text-indent:-99999px;
	cursor:pointer;
	position:absolute;
	right:29px;
}

#mycarousel2-next  {
    background:url(../images/prev.jpg) -8px top no-repeat;
    width:8px;
    height:12px;

    margin-top:6px;
	float:left;
	text-indent:-99999px;
	opacity:1 !important;
	cursor:pointer;
	position:absolute;
	right:11px;
}


.jcarousel-skin-tango .jcarousel-prev-vertical {
	background:url(../images/news-pagination.png) left top no-repeat;
	width:17px;
	height:15px;
	display:block !important;
	opacity:1 !important;
	float:left;
	text-indent:-99999px;
	cursor:pointer;
	margin-top: 8px;
	position:absolute;
	right:26px;
}
.jcarousel-skin-tango .jcarousel-next-vertical {
	background:url(../images/news-pagination.png) -19px top no-repeat;
	width:17px;
	height:15px;
	display:block !important;
	float:left;
	text-indent:-99999px;
	opacity:1 !important;
	cursor:pointer;
	margin-top: 8px;
	position:absolute;
	right:7px;
}
.list .jcarousel-skin-tango .jcarousel-item {
	width:100%;
	height:auto;
}
.list .jcarousel-skin-tango .jcarousel-container-vertical {
	height:580px;
}
.list .jcarousel-skin-tango .jcarousel-clip-vertical {
	height:593px;
}
.list .jcarousel-skin-tango {
	border-bottom:none;
}
.partner .jcarousel-skin-tango .jcarousel-clip-vertical{height:604px;}
.partner .jcarousel-skin-tango .jcarousel-container-vertical{
	height:605px;
}
.partner .jcarousel-skin-tango .jcarousel-item {
    height:auto;}
    
    .dropdwon .jcarousel-skin-tango .jcarousel-item-horizontal{width:auto;height:auto;}
     .dropdwon .jcarousel-skin-tango .jcarousel-container-horizontal {
    padding:0;
    width:670px;}
   .dropdwon .jcarousel-skin-tango .jcarousel-clip-horizontal {
    height:auto;
    width:595px;
    margin-left: 40px;
}

.dropdwon .jcarousel-prev.jcarousel-prev-horizontal{
	background:url(../images/prev-next-pagination.png) 0 0 no-repeat;
    display: block;
    width:8px;
    height:12px;
    position: absolute;
    left:10px;
    top: 0;
    z-index: 9999;
     cursor:pointer;}
    
    .dropdwon .jcarousel-next.jcarousel-next-horizontal{ 
    background:url(../images/prev-next-pagination.png) -8px 0 no-repeat;
    display: block;
     width:8px;
    height:12px;
    position: absolute;
    top: 0;
     right:10px;
     cursor:pointer;
   }
   .dropdwon .jcarousel-skin-tango{ border-bottom:none;}
   .list .jcarousel-skin-tango .jcarousel-item-vertical {
	padding-bottom:13px; margin-bottom:0;
}