---
layout: default
---

{{ $category := "A debate" }}
{{ $posts := index .site.categories $category }}
{{ if $posts }}

{{ template "seccion_listado.html" .s.PostPaginated "Autor" 10 .page.GetCurrentPage }}

<div class="pagination">
<ul>
	<li><a href="/seccion/Autor{{ .s.PrevPag .page.GetCurrentPage }}.html">Prev</a></li>
	{{ range $index, $element := .s.TotalPages "Autor" 10 }}
		<li><a href="/seccion/Autor{{ $index }}.html">{{ $index }}</a></li>
	{{ end }}
	{{ $total := .s.TotPag "Autor" 10}}
	 <li><a href="/seccion/Autor{{  .s.NextPag .page.GetCurrentPage $total}}.html">Next</a></li>
</ul>
</div>
{{ end }}
