---
layout: defaultSimple
---

<div class="figure">
  <img src="/Assets/images/Banner2.png" />
</div>
{{ $miseccion := index .site.categories "Editorial" }}
<section class="container">
<div class="grid_12 alpha">
{{if $miseccion}}
  {{ range $miseccion}}
      <article class="SubContent">
        <a href="/{{ .url }}"><h3> {{ .title }}</h3></a>
      {{if .MainImgSize "m"}}
      <div class="grid_9 omega">
      <div class="grid_image"><img src="{{ .MainImgSize "m" }}" class="pic" alt="pic" /> </div>
      </div>
      <div class="grid_7 alpha">
      {{else}}
        <div>
      {{end}}
      <ul class="comment">
      {{ if .author }}  
        <li>{{ .author }}/</li>
      {{ end }} 
      {{ if .date }}
      <li>{{ .date | date_to_string }}/</li>
      {{ end }}
      <li class="comment_icon"><a href="/{{ .url }}#disqus_thread"># </a></li>
      </ul>
    <article class="article"><p>{{ .GetIntrotext }} <a href="/{{ .url }}">Leer más...</a> </p></article>
    </div>       
      </article>
      <br><br><br>
      <hr>
  {{end}}
{{else}}
  <div>
    <p> </p>
  </div>
{{end}}
</div>
  <div class="grid_4 omega">
     {{template "gsb.html" .}}
    {{template "barraDerecha.html" .}}
  </div>
</section>