---
layout: default
---



<div class="title">
  <h4>Martes de Documental</h4>
</div>
{{ $miseccion := index .site.categories "Martes" }}

{{if $miseccion}}
  {{ range $miseccion}}
      <article class="SubContent">
        <a href="/{{ .url }}"><h3> {{ .title }}</h3></a>
      {{if .MainImgSize "m"}}
      <div class="grid_9 omega">
      <div class="grid_image"><img src="{{ .MainImgSize "m" }}" class="pic" alt="pic" /> </div>
      </div>
      <div class="grid_7 alpha">
          {{else}}
            <div>
          {{end}}
          <ul class="comment">
          <li class="comment_icon"><a href="/{{ .url }}#disqus_thread"># </a></li>
          </ul>
        <article class="article"><p>{{ .GetIntrotext }} <a href="/{{ .url }}">Leer más...</a> </p></article>
    </div> <!-- cierra el grid_7 si hay imagen, sino el div simple -->      
      </article>
      <br><br><br>
      <hr>
  {{end}}
{{else}}
  <div>
    <p> </p>
  </div>
{{end}}
<!-- segundo evento -->
<div class="title">
  <h4>Café de Gorra</h4>
</div>
{{ $miseccion := index .site.categories "Café" }}
{{if $miseccion}}
  {{ range $miseccion}}
      <article class="SubContent">
        <a href="/{{ .url }}"><h3> {{ .title }}</h3></a>
      {{if .MainImgSize "m"}}
      <div class="grid_9 omega">
      <div class="grid_image"><img src="{{ .MainImgSize "m" }}" class="pic" alt="pic" /> </div>
      </div>
      <div class="grid_7 alpha">
      {{else}}
        <div>
      {{end}}
      <ul class="comment">
      <li class="comment_icon"><a href="/{{ .url }}#disqus_thread"># </a></li>
      </ul>
    <article class="article"><p>{{ .GetIntrotext }} <a href="/{{ .url }}">Leer más...</a> </p></article>
    </div>       
      </article>
      <br><br><br>
      <hr>
  {{end}}
{{else}}
  <div>
    <p> </p>
  </div>
{{end}}