---
layout: default
---
{{ $category := "La Jiribilla" }}
{{ $posts := index .site.categories $category }}
{{ if $posts }}


{{ template "seccion_listado.html" .s.PostPaginated $posts 10 .page.GetCurrentPage }}

<div class="pagination">
<ul>
	<li><a href="/seccion/La Jiribilla{{ .s.PrevPag .page.GetCurrentPage }}.html">Prev</a></li>
	{{ range $index, $element := .s.TotalPages "La Jiribilla" 10 }}
		<li><a href="/seccion/La Jiribilla{{ $index }}.html">{{ $index }}</a></li>
	{{ end }}
	{{ $total := .s.TotPag "La Jiribilla" 10}}
	 <li><a href="/seccion/La Jiribilla{{  .s.NextPag .page.GetCurrentPage $total}}.html">Next</a></li>
</ul>
</div>
{{ end }}
