---
layout: defaultSimple
---
<section class="container">
<div class="grid_12 alpha">
{{ template "seccion_listado.html" .s.PagesForCategory "Memoria" 15}}
</div>
<div class="grid_4 omega">
  <div>
    <div class="title">
      <h4>COLABORADOR </h4>
    </div>
    <div class="partner">
            <img src="http://i.imgur.com/JIakgtYs.jpg" width="97" height="103" alt="avatar" align="left">
				    <h6><a href="#" style="color: #921B1E">Raymundo cárdenas Hernández</a></h6>
    </div>
    <br><br><br><br><br><br>
  </div>
    <br><br><br>
     {{template "gsb.html" .}}
    {{template "barraDerecha.html" .}}
</div>

</section>