---
layout: default
---


<div class="title">
	<h4>México</h4>
</div>

{{ range .site.locations.Nacional }}
<article class="SubContent">
	<a href="/{{ .url }}"><h3> {{ .title }}</h3></a>
  {{if .MainImgSize "m"}}
	<div class="grid_9 omega">
		<div class="grid_image"><img src="{{ .MainImgSize "m" }}" class="pic" alt="pic" /> </div>
	</div>
	<div class="grid_7 alpha">
  {{else}}
  <div>
  {{end}}
		<ul class="comment">
		{{ if .author }}	
			<li>{{ .author }}/</li>
		{{ end }}	
      {{ if .date }}
			<li>{{ .date | date_to_string }}/</li>
      {{ end }}
			<li class="comment_icon"><a href="/{{ .url }}#disqus_thread"># </a></li>
		</ul>
		<article class="article"><p>{{ .GetIntrotext }} <a href="/{{ .url }}">Leer más...</a> </p></article>
	</div>
</article>
<br/><br/><br/>
<hr/>
{{end}}
