---
layout: default
---
<div class="title">
	    <h4> Noticias al Día </h4>
</div>

{{ range .site.MinuteByMinute }}
			<article class="SubContent">
	            <h3>{{ .title }}</h3>
	             <div class="grid_9 omega" style="max-height: 320px;">
                  <div style="max-height:260px; width:auto;"><img src="{{ .MainImg }}" alt="pic" /> </div></div>
                  <div class="grid_7 alpha">
	                <ul class="comment">
	                  <li><a href="#">{{ .author }} </a>/</li>
	                  <li><a href="#">{{ .date | date_to_string }}</a>/</li>
	                </ul>
	                <p>{{ .GetTwett }} <a href="/{{ .url }}">Leer más...</a> </p>
	              </div>
	            </article>
	            <br><br><br>
	            <hr>
{{end}}
</div>

 <div class="grid_4 omega">
	<div class="news_section p-top">
	  {{template "gsb.html" .}}
	</div>
