---
layout: default
---


{{ $miseccion := index .site.categories "Publicidad"}}
 <section class="container">
<div class="grid_12 alpha"> 
<div class="title">
	    <h4>Publicidad</h4>
</div>

{{ range $miseccion }}
			<article class="SubContent">
	            <h3>{{ .title }}</h3>
	             <div class="grid_9 omega" style="max-height: 320px;">
                  <div style="max-height:260px; width:auto;"><img src="{{ .MainImg }}" alt="pic" /> </div></div>
	            </article>
	            <br><br><br>
	            <hr>
{{end}}
</div>

 <div class="grid_4 omega">
	<div class="news_section p-top">
	  {{template "gsb.html" .}}
	</div>
	<div class="title">
	  <h4>NOTICIAS AL DÍA</h4>
	</div>
	<div class="list">
	  <ul class="mycarousel jcarousel jcarousel-skin-tango">
	    {{range .site.MinuteByMinute}}
	    <li><a href="{{.GetUrl}}">{{.title}}</a></li>
	    {{end}}
	  </ul>
	</div>
	<div class="news-pagination"> <small>MAS NOTICIAS</small></div>
	<div class="news_section desktop-search">
	  {{template "lajornadatv.html" .}}
	</div>
	<!-- Sección del boletín -->

	{{template "boletin.html" .}}

	<!--Fin de sección de boletín-->
	
	  {{template "encuesta.html" . }}
	
	<div class="news_section app">
	  <div class="title">
	    <h4>LAS APPS</h4>
	  </div>
	  <a href="#"><img src="/Assets/images/app.png" alt="app"></a>
	</div>
      </div>

</section>z

