---
layout: defaultSimple
---

<section class="container">
<div class="grid_12 alpha">
<div class="title">
      <h4>Publicidad</h4>
</div>
<article class="subContent">
  <br>
  <br>
  <p>
    Si desea publicitar en nuestro sitio, le presentamos un mapa de los espacios pensados para banners.
    <br>
    Si tiene preguntas, dudas o comentarios, o si desea consultar por otras ubicaciones, medidas o formatos no dude en contactarnos a través de nuestro formulario en la sección <a href="/contacto.html">"Contacto"</a>. ¡Muchas gracias!
  </p>  
</article>

  <img style="border:3px solid black;" src="/Assets/images/banners.png" alt="distribución de banners"  />
  <br><br><br>
  <br>
  <h3>A. BANNER 1</h3>
    <p><strong>Tama&ntilde;o:</strong> 730x90 px. | <strong>Peso</strong>: 12k<br />
    <strong>Precio en home:</strong> consultar <br />
    <strong>Precio en p&aacute;g. interna: </strong>consultar</p>
    <h3>B. BANNER 2</h3>
    <p><strong>Tama&ntilde;o:</strong> 225x90 px. | <strong>Peso:</strong> 12k<br />
    <strong>Precio en home:</strong> consultar<br />
    <strong>Precio en p&aacute;g. interna:</strong> consultar</p>
    <h3>C. BANNER 3</h3>
    <p><strong>Tama&ntilde;o:</strong> 327x245 px. | <strong>Peso:</strong> 12k<br />
    <strong>Precio en home:</strong> consultar<br />
    <strong>Precio en p&aacute;g. interna:</strong> consultar</p>

</div>

<div class="grid_4 omega">
  <div class="news_section p-top">
    {{template "gsb.html" .}}
  </div>
  <div class="title">
    <h4>NOTICIAS AL DÍA</h4>
  </div>
  <div class="list">
    <ul class="mycarousel jcarousel jcarousel-skin-tango">
      {{range .site.MinuteByMinute}}
      <li><a href="{{.GetUrl}}">{{.title}}</a></li>
      {{end}}
    </ul>
  </div>
  <div class="news-pagination"> <small>MAS NOTICIAS</small></div>
  <div class="news_section desktop-search">
  </div>

  <!-- Sección del boletín -->

  {{template "boletin.html" .}}

  <!--Fin de sección de boletín-->

    {{template "encuesta.html" . }}

      </div>
    </section>