---
layout: default
---

{{ $category := "Reportaje Especial" }}
{{ $posts := index .site.categories $category }}
{{ if $posts }}
{{ template "seccion_listado.html" .s.PostPaginated $posts 20 .page.GetCurrentPage }}
<div style="text-align:center">
<p class="demo3"></p>
<script type="text/javascript" >
$(document).ready(function(){
  $('.demo3').bootpag({
    total: {{ .s.TotPag $posts 20 }},
    page: {{ .page.GetCurrentPage }},
    href: "./{{$category}}<%=number%>",
    hrefVariable: "<%=number%>",
    leaps: false, maxVisible: 10, prev: null, next: null
  });
});
</script>
</div>
{{ end }}
