{{ $miseccion := index .site.categories "Fuera de Foco"}}
<div class="news_section">
  <div class="title">
    <h4>FUERA DE FOCO</h4>
  </div>
  <div class="news"> 
    <div class="slider flexslider">
      <ul class="slides">
        {{ range $miseccion }}
        <li>
          <h3><a href="{{.url}}">{{.title}}</a></h3>
          <a href="javascript:void(0)"><img src="{{.MainImgSize "m"}}" alt="{{.title}}"></a>
          <p><a href="{{.url}}">{{.twitt}}</a></p>
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
