<div class="title">
      <h4>COLABORADORES </h4>
    </div>
    <div class="partner">
      <ul class="mycarousel jcarousel jcarousel-skin-tango">
			  {{range index .site.categories "Autor"}}
        <li>
				  <figure>
            <img src="{{.MainImgThumb}}" width="97" height="103" alt="avatar">
          </figure>
				  <div class="intro">
				    <h6><a href="{{.GetUrl}}">{{.GetAuthor}}</a></h6>
				    <p>{{.twitt}} </p>
				  </div>
        </li>
			  {{end}}
      </ul>
    </div>
    <div class="news-pagination"> <small>MAS NOTICIAS</small></div>