<div class="news_section">
  <div class="title">
    <!--<h4>LAS APPS</h4>-->
      <h4></h4>
  </div>
  <!-- <a href="/2010/05/02/1516-shortcutAndroid.html" class="app"></a>-->
  <iframe width="250" height="250" src="//www.youtube.com/embed/VqyLQajDGyU" frameborder="0" allowfullscreen></iframe>
 <!--
<iframe width="250" height="300" src="//e.issuu.com/embed.html#1493577/3875730" frameborder="0" allowfullscreen></iframe>-->
  <!--<div class="figure"> <a href="http://ieez.org.mx"><img src="http://ljz.mx/banner_ieez.jpg" alt="add" /></a> </div> -->
</div>

