{{ $miseccion := index .site.categories "Fuera de Foco"}}
<div class="news_section">
  <div class="title">
    <h4>FUERA DE FOCO</h4>
  </div>
  <div class="news"> 
    <div class="slider flexslider">
      <ul class="slides">
{{if $miseccion }}
        {{ range $miseccion }}
        <li>
          <h3 style="margin: 0 auto;width: 95%;"><a href="/{{.url}}">{{.title}}</a></h3>
          <a href="{{.MainImgSize "h"}}" rel="gallery1" class="fancybox" title="{{.title}}"><img src="{{.MainImgSize "t"}}" alt="{{.title}}"></a>
          <p style="margin: 0 auto;width: 95%;"><a href="/{{.url}}">{{.twitt}}</a> <a href="{{.authorlink}}">{{.author}}</a></p>
        </li>
        {{end}}
{{end}}
      </ul>
    </div>
  </div>
</div>
