{{define "seccion"}}
{{if .}}
{{$first := index . 0 }}
<div class="news_tpoic">
  <div class="title">
    <h4>{{ $first.GetCategories }}</h4>
  </div>
  <ul class="news-filter mycarousel jcarousel jcarousel-skin-tango">
    {{ range $index, $nota := . }}

    <li>
      {{if $index}}
      {{else}}
        {{ if $nota.MainImg }}
          <a href="{{$nota.url}}" class="customA">
            <img src="{{$nota.MainImg}}" alt="{{$nota.title}}" style="height:auto; width:100%;"/>
          </a>
        {{ end }}
      {{ end }}
      <h3><a href="{{ $nota.url }}" >{{ $nota.title }}</a></h3>
     <div style="text-align:justify"> <a href="{{ $nota.url }}" >{{ $nota.author }} {{ $nota.twitt}}</a></div>
    </li>
    {{ end }}
  </ul>
</div>
<!-- section frst end -->
<div class="news-pagination"> <small>MAS NOTICIAS</small> </div>

{{else}}
<div class="news_tpoic">
  <div class="title">
   No hay notas de esta sección
 </div>
</div>
{{end}}
{{end}}

{{define "seccion_destacadas"}}
{{if .}}
{{$first := index . 0 }}
<div class="news_tpoic">
  <div class="title">
    <h4>Últimas Noticias Zacatecas</h4>
  </div>
  <ul class="news-filter mycarousel jcarousel jcarousel-skin-tango">
    {{ range $index, $nota := . }}

    <li>
      {{if $index}}
      {{else}}
        {{ if $nota.MainImg }}
          <a href="{{$nota.url}}" class="customA">
            <img src="{{$nota.MainImg}}" alt="{{$nota.title}}" style="height:auto; width:100%;"/>
          </a>
        {{ end }}
      {{ end }}
      <h3><a href="{{ $nota.url }}" >{{ $nota.title }}</a></h3>
     <div style="text-align:justify"> <a href="{{ $nota.url }}" >{{ $nota.author }} {{ $nota.twitt}}</a></div>
    </li>
    {{ end }}
  </ul>
</div>
<!-- section frst end -->
<div class="news-pagination"> <small>MAS NOTICIAS</small> </div>

{{else}}
<div class="news_tpoic">
  <div class="title">
   No hay notas de esta sección
 </div>
</div>
{{end}}
{{end}}

{{define "cuadrosecciones"}}
{{if .}}
{{$first := index . 0 }}

<li>
  <div class="carousel-content">
    <h5>{{ $first.GetCategories }}</h5>
    <a href="/{{ $first.url }}">
      <img src="{{$first.MainImgSize "b"}}" alt="pic" width="170px" height="170px"/>
      <p>{{ $first.title}}</p>
    </a>
  </div>
</li>
{{else}}
No hay notas de esta sección
{{end}}
{{end}}


{{define "columnas"}}
{{if .}}
{{$first := index . 0 }}
<article class="section"> <strong> {{ $first.GetCategories }}</strong>
  <h3><a href="{{ $first.url }}"> {{ $first.title}} </a></h3>
  <ul class="comment">
   <li>{{ $first.author }} /</li>
   <li>{{ $first.date | date_to_string }}/</li>
   <li class="comment_icon"><a href="{{ $first.url }}#disqus_thread"># </a></li>
 </ul>
 <article class="article">
  {{ if $first.MainImg }}
  <p>
          <a href="{{$first.url}}">
            <img src="{{$first.MainImgSize "t"}}" alt="{{$first.title}}" style="float:right;"/>
          </a>
    <div style="text-align:left"> 
{{ $first.GetIntrotext }} <a href="{{ $first.url }}">Leer más...</a></p> </article><div></article>
{{ else}}
  <p>{{ $first.GetIntrotext }} <a href="{{ $first.url }}">Leer más...</a></p> </article>
{{end}}
</article>

{{else}}
No hay notas de esta sección
{{end}}
{{end}}


{{define "especiales"}}
{{if .}}
{{$first := index . 0 }}
<div class="news"> <h3> <a href="/{{$first.url}}">
  {{$first.title}}</h3>
  <figure>
    <img src="{{ $first.MainImgSize "m"}}" alt="el reportaje" /> </figure></a>
    <p>{{$first.twitt}}</p>
  </div>
  {{else}}
  No hay notas de esta sección
  {{end}}
  {{end}}

  <!-- TERMINA PARTE DEFINICIONES -->
