<div class="news_section">
  <div class="title">
    <h4>SUSCRIPCIÓN AL BOLETÍN</h4>
  </div>
  <!-- BEGIN: Constant Contact Stylish Email Newsletter Form -->
  <div align="center">
    <div class="boletin-marco">
      <form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post">
       <span class="texto">Correo: </span>
       <input class="textA" type="text" name="ea" size="25" value="">
       <input class="boton" type="submit" name="go" value="SUSCRIBIRME" class="submit">
       <input type="hidden" name="llr" value="67cwwxmab">
       <input type="hidden" name="m" value="1113192074141">
       <input type="hidden" name="p" value="oi">
     </form>
   </div>
 </div>
 <!-- END: Constant Contact Stylish Email Newsletter Form -->
</div>
