

<div class="news_section">
  <div class="title">
    <h4>SUSCRIPCIÓN AL BOLETÍN</h4>
  </div>

<!-- Begin0 MailChimp Signup Form -->
<div align="center">
  <div class="boletin-macro">
    <form action="http://ljz.us7.list-manage.com/subscribe/post?u=112a4f684049dcb1b94be984b&amp;id=9e25d8b6e8" method="post"  class="validate" target="_blank" novalidate>
      <label style="text-align: center;" for="mce-EMAIL">CORREO ELECTRÓNICO <span class="asterisk">*</span>
      </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      <input type="submit" value="Suscribir" name="subscribe" id="mc-embedded-subscribe" class="boton">
    </form>
  </div>
</div>
<!--End mc_embed_signup-->

 <!--  <\!-- BEGIN: Constant Contact Stylish Email Newsletter Form -\-> -->
 <!--  <div align="center"> -->
 <!--    <div class="boletin-marco"> -->
 <!--      <form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post"> -->
 <!--       <span class="texto">Correo: </span> -->
 <!--       <input class="textA" type="text" name="ea" size="25" value=""> -->
 <!--       <input class="boton" type="submit" name="go" value="SUSCRIBIRME" class="submit"> -->
 <!--       <input type="hidden" name="llr" value="67cwwxmab"> -->
 <!--       <input type="hidden" name="m" value="1113192074141"> -->
 <!--       <input type="hidden" name="p" value="oi"> -->
 <!--     </form> -->
 <!--   </div> -->
 <!-- </div> -->
 <!-- <\!-- END: Constant Contact Stylish Email Newsletter Form -\-> -->
</div>
