<div class="news_section">
  <div class="title">
    <h4>SUSCRIPCIÓN AL BOLETÍN</h4>
  </div>
  <!-- BEGIN: Constant Contact Stylish Email Newsletter Form -->
  <div align="center">
    <div style="width:160px; background-color: #ffffff;">
      <form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:3;"><span style="background-color: #000000; float:right;margin-right:5;margin-top:3"></span>
       <font style="font-family:Arial; font-size:1.3em; color:#000000;">Suscríbete a nuestro boletín</font>
       <input type="text" name="ea" size="20" value="" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:13px; border:1px solid #999999;">
       <input type="submit" name="go" value="SUSCRIBIR" class="submit"  style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px;">
       <input type="hidden" name="llr" value="67cwwxmab">
       <input type="hidden" name="m" value="1113192074141">
       <input type="hidden" name="p" value="oi">
     </form>
   </div>
 </div>
 <!-- END: Constant Contact Stylish Email Newsletter Form -->
</div>
