---
layout: defaultSimple
---
<!-- default.html -->
    <section class="container">
      <div class="grid_12 alpha">
        {{ .content}}
      </div>

      <div class="grid_4 omega">
        {{template "gsb.html" .}}
        {{template "noticiasaldia.html" .}}
        {{template "lajornadatv.html" .}}
        {{template "block_fueradefoco.html" . }}
        {{template "boletin.html" .}}
        {{template "block_especialeslajornada.html" .}}
        {{template "encuesta.html" . }}
        {{template "block_lasapps.html" .}}
      </div>
    </section>


<!-- Bottom Section -->
<div class="grid_16 bottomSection">
	<div class="title">
	  <h4>Secciones</h4>
	  <strong>MAS SECCIONES</strong>
	</div>
  <div class="carousel">
    <div class="carouse-bottom flexslider">
      <ul class="slides">
      	{{ template "cuadrosecciones" index .site.categories "Tecnología"}}
      	{{ template "cuadrosecciones" index .site.categories "prueba4"}}
      	{{ template "cuadrosecciones" index .site.categories "Cartones"}}
      	{{ template "cuadrosecciones" index .site.categories "Politica"}}
      	{{ template "cuadrosecciones" index .site.categories "Portada"}}
      </ul>
    </div>
  </div>
</div>
