<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
		<title>Blog &middot; drone.io</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" type="image/x-icon" href="Assets/images/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Exo:400,100,700italic,700,600italic,600,100italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="Assets/css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="Assets/css/960_grid.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="Assets/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="Assets/css/print.css" media="print" />
  <link rel="stylesheet" type="text/css" href="Assets/css/skin.css" />
  <link rel="stylesheet" type="text/css" href="Assets/css/responsive.css" />
 <script type="text/javascript" src="Assets/js/jquery1.6.2.min.js"></script>
   <script src="Assets/js/modernizr.js"></script>
  <script type="text/javascript" src="Assets/js/jquery.jcarousel.min.js"></script>
<!-- FlexSlider -->
  <script defer src="Assets/js/jquery.flexslider.js"></script>
   <script src="Assets/js/custom.js"></script>

		<!-- <link rel="icon" type="image/png" href="img/favicon.png"> -->
		<link rel="alternate" type="application/atom+xml" href="http://blog.drone.io/atom.xml" title="Atom Feed">
		<link href="/css/bootstrap.css" rel="stylesheet" />
		<link href="/css/drone-base.css" rel="stylesheet" />
		<link href="/css/drone-blog.css" rel="stylesheet" />
		<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen">
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- Header
		================================================== -->
		<section class="header-wrap">
			<header class="header">
				<div class="addSection"> <a href="#"><img src="Assets/images/add.png" alt="add" /></a> <a href="#"><img src="Assets/images/add_2.png" alt="add" /></a> </div>
				<a href="index.php" class="logo" title="Welcome to the LaJornada Zacatecas"><img src="Assets/images/logo.png" alt="Welcome to the LaJornada Zacatecas" /></a> </header>
			</section>
			<!-- header Section --> 
			<!-- wrapper Section -->
			<div class="container_16 wrapper"> 
				<!-- Navigation Section -->
				<section class="shadow">
					<div class="navigation grid_16">

						<!-- Desktop and ipad Navigation -->
						<nav class="nav">
							<ul>
								<li><a href="#" title="Inicio">Inicio</a></li>
								<li><a href="#" title="Secciones">Secciones</a> 
									<div class="dropdwon">
										<ul class="first-and-second-carousel jcarousel-skin-tango">
                      {{ range .site.categories }}
											<li><a href="#" title="{{ .category }}">{{ .category }}</a></li>
                      {{end}}
										</ul>
									</div> 

								</li>
								<li><a href="#" title="Columnas">Columnas</a></li>
								<li><a href="#" title="Fuera de Foco">Fuera de Foco</a></li>
								<li><a href="#" title="Cartones">Cartones</a></li>
								<li><a href="#" title="Hemeroteca">Hemeroteca</a></li>
								<li><a href="#" title="Suplementos">Suplementos</a></li>
								<li class="none"><a href="#" title="Contacto">Contacto</a></li>
							</ul>
						</nav>
						<!-- Desktop and ipad Navigation End-->

						<!-- IPod Navigation -->
						<nav class="ipod-nav">
							<div class="touch">
								<span>Menu</span>
								<span>&nbsp;</span>
							</div>
							<ul>
								<li><a href="#" title="Inicio">Inicio</a></li>
								<li><a href="#" title="Secciones">Secciones  <span>&nbsp;</span></a>  

									<ul>
										<li><a href="#" title="Ciencía y tecnologia">Ciencía y tecnologia</a></li>
										<li><a href="#" title="Deportes">Deportes</a></li>
										<li><a href="#" title="Cultura y espectáculos">Cultura y espectáculos</a></li>
										<li><a href="#" title="Politica">Politica</a></li>
										<li><a href="#" title="Economía">Economía</a></li>
										<li><a href="#" title="Educación">Educación</a></li>

									</ul>


								</li>
								<li><a href="#" title="Columnas">Columnas</a></li>
								<li><a href="#" title="Fuera de Foco">Fuera de Foco</a></li>
								<li><a href="#" title="Cartones">Cartones</a></li>
								<li><a href="#" title="Hemeroteca">Hemeroteca</a></li>
								<li><a href="#" title="Suplementos">Suplementos</a></li>
								<li class="none"><a href="#" title="Contacto">Contacto</a></li>
							</ul>	
						</nav>
						<!-- IPod Navigation End -->

						<nav class="sub-nav">
							<ul>
								<li><a href="#" title="Zacatecas">Zacatecas</a></li>
								<li><a href="#" title="Mexico">Mexico</a></li>
								<li class="grid"><a href="#" title="Mundo">Mundo</a></li>
								<li><a href="#" title="Noticias al Dia">Noticias al Dia</a></li>
								<li><a href="#" title="A debate">A debate</a></li>
								<li class="grid"><a href="#" title="Blogs">Blogs</a></li>
								<li><a href="#" title="Jornada TV">Jornada TV</a></li>
								<li class="none"><a href="#" title="Publicidad">Publicidad</a></li>
							</ul>
						</nav>

					</div>
					<div class="papper">
						<span>VERSION IMPRESA</span>
						<img src="Assets/images/papper.png" alt="papper" /> 
					</div>
				</section>

		<!-- Primary Navigation
		================================================== -->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="https://drone.io"></a>
					<ul class="nav pull-right">
						<li class="active"><a href="http://blog.drone.io">Blog</a></li>
						<li><a href="http://docs.drone.io">Documentation</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="container-inner">
				<div class="container-fluid container-blog">
					<!-- Blog Posts
					================================================== -->
					<div class="span9">
						{{ .content }}
					</div>

					<!-- Sub Navigation
					================================================== -->
					<div class="span3 pull-right">
						<p><a href="https://drone.io">Drone.io</a> is a fully-managed Continuous Integration service. <a href="https://drone.io">Try it free today!</a></p>
						<p style="border-top: 1px solid #EEE;margin-top: 20px;padding-top: 20px;">
							<a href="http://blog.drone.io/atom.xml" style="margin-bottom:10px;display:inline-block;">Subscribe to this Blog</a>
							<a href="https://twitter.com/droneio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @droneio</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</p>
						<h3 style="margin-top:30px;padding-top: 10px;border-top: 1px solid #EEE;margin-top: 20px;">Recent Posts</h3>
						<ul class="nav nav-pills nav-stacked nav-posts">
							{{ range .site.posts }}
							<li><a href="/{{ .url }}">{{ .title }} </a>{{ .author }} on {{ .date | date_to_string }}</li>
							{{ end }}
						</ul>

					</div><!-- end .span3-->
				</div><!-- end .container-fluid -->
			</div><!-- end .inner -->
		</div>

		<!-- Footer
		================================================== -->
		<section class="footer-wrap">
          <footer class="footer"> 
          <div class="footer-content">
          <span>Publicación diaria de Información para la Democracia, S.A. de C.V., bajo licencia otorgada por Demos, Desarrollo de Medios, S.A. de C.V. Términos Legales: Todos Los Derechos Reservado 2013</span>
                <address>
                  Calle SCT No. 100 B  Zona Industrial, Guadalupe, Zacatecas, C.P. 98604. Teléfono y Fax: <a href="tel:01492 7684996">01 492 9237440</a>  <a href="tel:01492 7684996">01492 7684996</a>.
                  </address>
                  </div>
        </footer>
        </section> 

		<!-- Le javascript
		================================================== -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<script>$("a.gallery").fancybox();</script>

		<!-- Analytics
		================================================== -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34247933-1']);
			_gaq.push(['_setDomainName', 'drone.io']);
				_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
