---
layout: nil
---
<!-- defaultSimple.html -->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{{ if .page.title }} {{ .page.title }} | {{end}} La Jornada Zacatecas </title>
    {{if .page.MainImgSize "b"}} 
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{.page.MainImgSize "b"}}" />
    {{end}}
    <link rel="shortcut icon" href="http://beta.ljz.mx/Assets/images/la%20jornada.jpg" />   
    <link rel="apple-touch-icon-precomposed" href="http://beta.ljz.mx/Assets/images/la%20jornada.jpg">
    <!-- This one works for anything below iOS 4.2 -->
    <link rel="apple-touch-icon-precomposed apple-touch-icon" href="http://beta.ljz.mx/Assets/images/la%20jornada.jpg">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/Assets/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Exo:400,100,700italic,700,600italic,600,100italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/Assets/css/reset.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/Assets/css/960_grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/Assets/css/caption.min.css"/>
    <link rel="stylesheet" type="text/css" href="/Assets/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/Assets/css/print.min.css" media="print" />
    <link rel="stylesheet" type="text/css" href="/Assets/css/skin.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/css/video.css" />
    
</head>

<!-- <body style="background:url(home.jpg) center top no-repeat; height:3500px;"> -->
<body style="background:url(/Assets/images/banners.jpg) center 207px no-repeat; height:3500px;">

    {{template "header.html" .}}

    {{ .content}}

    <!-- Bottom Section -->
    <div class="grid_16 bottomSection">
        {{template "interestlinks.html" . }}
    </div>
</div>
<!-- wrapper Section End-->

<!-- footer section-->
{{template "footer.html" . }}

<style type="text/css">
    @media only screen and (max-width:767px) {
        #zenbox_tab img {
            display: none;
        }
    }
</style>
<script  src="/Assets/js/modernizr.js"></script>
<script  type="text/javascript" src="/Assets/js/jquery1.6.2.min.js"></script>
<script  type="text/javascript" src="/Assets/js/custom.min.js"></script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "d7017de9-0205-4a99-8951-e8de0904a880"});</script>
<script  type="text/javascript" src="/Assets/js/jquery.jcarousel.min.js"></script>

<!-- FlexSlider -->
<script  src="/Assets/js/jquery.flexslider.min.js"></script>
<script  type="text/javascript" src="/Assets/js/jquery.fancybox.pack.js"></script>
<script  type="text/javascript" src="/Assets/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script  type="text/javascript" src="/Assets/js/jcaption.min.js"></script>
<script  type="text/javascript"  src="/Assets/js/jquery.jfontsize-1.0.min.js"></script> <!-- font resize js -->
<script  type="text/javascript"  src="/Assets/js/funciones.js"></script>
<!--[if IE]>
    <script  defer src="/Assets/js/html5.min.js"></script>
    <![endif]-->
<!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/Assets/css/ie7.min.css"/>
    <![endif]-->

<!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="/Assets/css/ie8.min.css"/>
    <![endif]-->       

</body>
</html>
