<section class="footer-wrap">

	<footer class="footer">

		<div class="footer-content">

			<span>Publicación diaria de Información para la Democracia, S.A. de C.V., bajo licencia otorgada por Demos, Desarrollo de Medios, S.A. de C.V. Términos Legales: Todos Los Derechos Reservado 2013</span>

			<address>

				Calle SCT No. 100 B  Zona Industrial, Guadalupe, Zacatecas, C.P. 98604. Teléfono y Fax: <a href="tel:01492 7684996">01 492 9237440</a>  <a href="tel:01492 7684996">01492 7684996</a>.

			</address>

		</div>

	</footer>

</section>

<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20178712",
      url:         "https://twcenter.zendesk.com",
      tabTooltip:  "Comentarios",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_es_comments_right.png",
      tabColor:    "black",
      tabPosition: "Right"
    });
  }
</script>
