<div class="news_section p-top">
  <div class="title">
    <h4>BÚSQUEDA AVANZADA</h4>
  </div>
  <gcse:search></gcse:search>
</div>
<script>
  (function() {
    var cx = '014239042459755020844:ovxdvxl74iq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>