<!--
<div class="title">
	<h4>La Gualdra</h4>
</div>
<article class="SubContent">
<iframe width="900" height="950" src="//e.issuu.com/embed.html#1493577/4674270" frameborder="0" allowfullscreen></iframe>
</article>
-->

<div class="grid_4 omega">
  <div>
    <div class="title">
      <h4>Otras Publicaciones </h4>
    </div>
    <div class="partner">
            <a href="http://issuu.com/lajornadazacatecas.com.mx/docs/la_gualdra_113" target="_blank"><img  src="http://image.issuu.com/130826213936-a1f312bdef7d282374c640433b1fac51/jpg/page_1_thumb_large.jpg" width="221" height="212" align="center" style="border:1px solid grey"/></a>
            <a href="http://issuu.com/lajornadazacatecas.com.mx/docs/la_gualdra_112" target="_blank"><img  src="http://image.issuu.com/130818073255-ea2db4fa2ed8800663d9c41c03cb5f1f/jpg/page_1_thumb_large.jpg" width="221" height="212" align="center" style="border:1px solid grey"/></a>
            <a href="http://issuu.com/lajornadazacatecas.com.mx/docs/la_gualdra_111" target="_blank"><img src="http://image.issuu.com/130812043333-6567ea0f87a622274bed78dd1b334377/jpg/page_1_thumb_large.jpg" width="221" height="212" align="center" style="border:1px solid grey"/></a>
    </div>
    <br>
  </div>
    <br><br><br>