<div class="grid_4 omega">
  <div>
    <div class="title">
      <h4>Otras Publicaciones </h4>
    </div>
    <div class="partner">
            <a href="http://issuu.com/lajornadazacatecas.com.mx/docs/la_gualdra_114" target="_blank"><img src="http://image.issuu.com/130902055549-c7bebfd0bccf9a4349fb1ed0974597ca/jpg/page_1_thumb_large.jpg" width="221" height="212" align="center" style="border:1px solid grey"/></a>
            <a href="http://issuu.com/lajornadazacatecas.com.mx/docs/la_gualdra_113" target="_blank"><img  src="http://image.issuu.com/130826213936-a1f312bdef7d282374c640433b1fac51/jpg/page_1_thumb_large.jpg" width="221" height="212" align="center" style="border:1px solid grey"/></a>
            <a href="http://issuu.com/lajornadazacatecas.com.mx/docs/la_gualdra_112" target="_blank"><img  src="http://image.issuu.com/130818073255-ea2db4fa2ed8800663d9c41c03cb5f1f/jpg/page_1_thumb_large.jpg" width="221" height="212" align="center" style="border:1px solid grey"/></a>
    </div>
    <br>
  </div>
    <br><br><br>