<!-- header Section -->
<section class="header-wrap">
  <header class="header">
   <div class="addSection">
     <a href="javascript:void(0);"><img src="http://i.imgur.com/KhPZOSk.jpg" alt="add"/></a>
     <a href="javascript:void(0);"><img src="http://i.imgur.com/9uj7X8u.jpg" alt="add"/></a>
   </div><br>
   <div class="logoContent">
    <a href="/" class="logo" title="La Jornada Zacatecas" alt="La Jornada Zacatecas"></a> </header>
    </div>
 </section>
 <!-- header Section -->
 <!-- wrapper Section -->
 <div class="container_16 wrapper">
  <!-- Navigation Section -->
  <section class="shadow">
    <div class="navigation grid_16">

      <!-- Desktop and ipad Navigation -->
      <nav class="nav">
        <ul>
          <li><a href="/" title="Inicio">Inicio</a></li>

          <li><a href="javascript:void(0)" title="Secciones">Secciones</a>
            <div class="dropdwon">
              <ul class="first-and-second-carousel " style="max-width:250px;">
                  <li><a href="/seccion/Ciencia y Tecnología.html" title="Ciencia y Tecnología">Ciencia y Tecnología</a></li>
                  <li><a href="/seccion/Destacadas.html" title="Destacadas">Destacadas</a></li>
                  <li><a href="/seccion/Cultura y Espectáculos.html" title="Cultura y Espectáculos">Cultura y Espectáculos</a></li>
                  <li><a href="/seccion/Opinión.html" title="Opinión">Opinión</a></li>
                  <li><a href="/seccion/Educación.html" title="Educación">Educación</a></li>
                  <li><a href="/seccion/Sociedad y Justicia.html" title="Sociedad y Justicia">Sociedad y Justicia</a></li>
                  <li><a href="/seccion/Contraportada.html" title="Contraportada">Contraportada</a></li>
                  <li><a href="/seccion/Deportes.html" title="Deportes">Deportes</a></li>
                  <li><a href="/seccion/Política.html" title="Política">Política</a></li>
                  <li><a href="/seccion/Economía.html" title="Economía">Economía</a></li>
                  <li><a href="/seccion/Mundo.html" title="Mundo">Mundo</a></li>
                  <li><a href="/seccion/Municipios.html" title="Municipios">Municipios</a></li>
                  <li><a href="/seccion/Reportaje Especial.html" title="Reportaje Especial">Reportaje Especial</a></li>
              </ul>
            </div>

          </li>
          <li><a href="javascript:void(0);" title="Columnas">Columnas</a>
            <div class="dropdwon">
              <ul class="first-and-second-carousel " style="max-width:250px;">
                <li><a href="/seccion/Editorial.html" title="Editorial">Editorial</a></li>
                <li><a href="/seccion/La Jiribilla.html" title="La Jiribilla">La Jiribilla</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/seccion/Fuera de Foco.html" title="Fuera de Foco">Fuera de Foco</a></li>
          <li><a href="/seccion/Cartones.html" title="Cartones">Cartones</a></li>
          <li><a href="/seccion/De Rock.html" title="Rock">Rock</a></li>
          <li><a href="/seccion/Hemeroteca.html" title="Hemeroteca">Hemeroteca</a></li>
          <li><a href="javascript:void(0)" title="Suplementos">Suplementos</a>
            <div class="dropdwon">
              <ul class="first-and-second-carousel " style="max-width:250px;">
                <li><a href="/seccion/gualdra.html" title="La Gualdra"> La Gualdra</a></li>
                <li><a href="/seccion/aprender.html" title="Aprender ">Aprender</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:void(0)" title="Blogs">Blogs</a>
            <div class="dropdwon">
              <ul class="first-and-second-carousel ">
                <li><a href="/seccion/memoria.html" title="Ayuda para la memoria">Ayuda para la Memoria</a></li>
                <li><a href="/seccion/editorialBlog.html" title="Editorial ">Editorial</a></li>
              </ul>
            </div>
          </li>
          <li class="none"><a href="/contacto.html" title="Contacto">Contacto</a></li>
        </ul>
      </nav>
      <!-- Desktop and ipad Navigation End-->

      <!-- IPod Navigation -->
      <nav class="ipod-nav">
        <div class="touch">
          <span>Menu</span>
          <span>&nbsp;</span>
        </div>
        <ul>
          <li><a href="/" title="Inicio">Inicio</a></li>
          <li><a href="javascript:void(0)" title="Secciones">Secciones  <span>&nbsp;</span></a>
            <ul>
              {{ range $catName,$catPosts := .site.categories }}
              <li><a href="seccion/{{ $catName }}.html" title="{{ $catName }}">{{ $catName }}</a></li>
              {{end}}
            </ul>


          </li>
          <li><a href="javascript:void(0)" title="Columnas">Columnas</a>
            <div class="dropdwon">
              <ul class="first-and-second-carousel ">
                <li><a href="/seccion/Editorial.html" title="Editorial">Editorial</a></li>
                <li><a href="/seccion/La Jiribilla.html" title="La Jiribilla">La Jiribilla</a></li>
                <li><a href="/seccion/Opinión.html" title="Opinión">Opinión</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/seccion/FueradeFoco.html" title="Fuera de Foco">Fuera de Foco</a></li>
          <li><a href="/seccion/Cartones.html" title="Cartones">Cartones</a></li>
          <li><a href="/seccion/Hemeroteca.html" title="Hemeroteca">Hemeroteca</a></li>
          <li><a href="javascript:void(0)" title="Suplementos">Suplementos</a>
            <div class="dropdwon">
              <ul class="first-and-second-carousel " style="max-width:250px;">
                <li><a href="/seccion/gualdra.html" title="La Gualdra"> La Gualdra</a></li>
                <li><a href="/seccion/aprender.html" title="Aprender ">Aprender</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:void(0)" title="Blogs">Blogs</a>
            <div class="dropdwon">
              <ul class="first-and-second-carousel ">
                <li><a href="/seccion/memoria" title="Ayuda para la memoria">Ayuda para la Memoria</a></li>
                <li><a href="/seccion/editorial" title="Editorial ">Editorial</a></li>
              </ul>
            </div>
          </li>
          <li class="none"><a href="/contacto.html" title="Contacto">Contacto</a></li>
        </ul>

      </nav>
      <!-- IPod Navigation End -->

      <nav class="sub-nav">
        <ul>
          <li><a href="/seccion/Zacatecas.html" title="Zacatecas">Zacatecas</a></li>
          <li><a href="/seccion/México.html" title="Mexico">México</a></li>
          <li class="grid"><a href="/seccion/Mundo.html" title="Mundo">Mundo</a></li>
          <li><a href="/seccion/NoticiasalDia.html" title="Noticias al día">Noticias al día</a></li>
          <li><a href="/seccion/reflexion.html" title="A debate">Zona de Reflexión</a></li>
          <li><a href="/lajornadatv.html" title="Jornada TV" >Jornada TV</a></li>
          <li class="none"><a href="/seccion/Publicidad.html" title="Publicidad">Publicidad</a></li>
        </ul>
      </nav>

    </div>
  </section>
  <!-- Navigation Section End -->

  <!-- Bar Section -->
  <section class="bar">
    <script type="text/javascript">
    today = new Date();
    var monthNames = [ "enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre","diciembre" ];
    document.write ('<div class="time-date"><span>',
      'Hoy es ', today.getDate(), ' de ' , monthNames[today.getMonth()], ' de ', today.getFullYear(),
      '<\/span><\/span></div>')
    </script>
    <div class="social_icon">
      <ul>
        <li class="rss"><a href="http://ljz.mx/atom.xml" type="application/rss+xml">RSS</a></li>
        <li class="tweet"><a target="_blank" rel="nofollow" href="http://www.twitter.com/#!/lajornadazac">TWEET</a></li>
        <li class="facebook"><a target="_blank" rel="nofollow" href="http://www.facebook.com/LaJornadaZacatecas">FACEBOOK</a></li>
        <li class="youtube"><a target="_blank" rel="nofollow" href="http://www.youtube.com/lajornadazacatecas">YOUTUBE</a></li>
      </ul>
    </div>
    <div class = "temperature"><span>Zacatecas, México.</span><span id="temp"> o</span></div>

  </section>
  <!-- Bar Section -->
