
  {{ template "publicidad_footer.html" }}
  <div class="bottom-nav"> <a href="/"><img src="/Assets/images/bottom-logo.png" alt="logo" /></a>
    <ul>
      <li class="grid"><a href="http://www.lja.mx" title="AGUASCALIENTES">AGUASCALIENTES</a></li>
      <li><a href="http://www.lajornadaguerrero.com.mx" title="GUERRERO">GUERRERO</a></li>
      <li><a href="http://www.lajornadajalisco.com.mx" title="JALISCO">JALISCO</a></li>
      <li class="grid"><a href="http://www.lajornadamichoacan.com.mx" title="MICHOACAN">MICHOACAN</a></li>
      <li><a href="http://www.jornadamorelos.com" title="MORELOS">MORELOS</a></li>
      <li><a href="http://www.lajornadadeoriente.com.mx" title="ORIENTE">ORIENTE</a></li>
      <li class="grid"><a href="http://www.lajornadasanluis.com.mx" title="SAN LUIS">SAN LUIS</a></li>
      <li><a href="http://www.jornadaveracruz.com.mx" title="VERACRUZ">VERACRUZ</a></li>
    </ul>
  </div>
  <div class="link_interes">
    <div class="title">
      <h4>LINKS de interes</h4>
    </div>
    <ul>
      <li><a href="http://www.jornada.unam.mx/" class="linkLaJornada"></a></li>
      <li><a href="http://www.proceso.com.mx" class="linkProceso"></a></li>
      <li><a href="http://www.eluniversal.com.mx" class="linkElUniversal"></a></li>
      <li><a href="http://www.milenio.com" class="linkMilenio"></a></li>
      <li><a href="http://www.elpais.com" class="linkElPais"></a></li>
      <li><a href="http://www.theclinic.cl/" class="linkTheClinic"></a></li>
      <li class="last"><a href="http://www.monde-diplomatique.es/" class="linkMonde"></a></li>
    </ul>
  </div>
