{{if .}}
{{$first := index . 0 }}
<div class="carousel_Section">
 <div class="title">
   <h4>{{ $first.GetCategories }}</h4>
 </div>
 <div class="currentNews">
   <div class="new-content">
     <div class="slider flexslider">
       <ul class="slides">
        {{ range . }}
        <li>
         <article class="SubContent">
          <a href="{{ .url }}"> <h1>{{ .title }}</h1></a>
          <ul class="comment">
           <li><a href="#">{{ .author }} </a>/</li>
           
           <li>{{if .date}}<a href="#">{{ .date | date_to_string }}</a>/{{end}}</li>
           <li class="comment_icon"><a href="{{ .url }}#disqus_thread"># </a></li>
         </ul>
         {{ if .MainImg }}
         <div class="grid_7 alpha"  style="text-align:justify">
           <p>{{ .GetIntrotext }} <a href="{{ .url }}">Leer más...</a> </p>
         </div>
         <div class="grid_9 omega" style="max-height: 320px;">
          <div style="max-height:260px; width:auto;">
            <a href="{{ .url }}">
              <img src="{{ .MainImg }}" alt="pic" />
            </a>
          </div>
        </div>
        {{else}}
        {{if .MainVideo}}
        <div style="width:100%; float:left;text-align:center;">
          <div style="display:block;margin: 0 auto;">
            {{ .MainVideo}}
          </div>
        </div>
        {{end}}
        {{ end }}
      </article>
    </li>
    {{ end }}
  </ul>
</div>
<div class="carousel_slider">
 <div class="carousels flexslider">
   <ul class="slides">
    {{ range . }}
    {{ if .MainImg }}
    <li><img src="{{ .MainImgThumb }}" style="max-height:90px; width:auto" alt="pic"></li>
    {{ else }}
    {{ if .MainVideoThumb }}
    <li><img src="{{ .MainVideoThumb }}" style="max-height:90px; width:auto" alt="pic"></li>
    {{ else }}
    <li><img src="/Assets/images/defaultImg.jpg" style="max-height:90px; width:auto" alt="pic"></li>
    {{ end }}
    {{ end }}
    {{ end }}
  </ul>
</div>
</div>
</div>
</div>
{{ else }}
No hay nota principal
{{ end }}




 
