<div class="title">
    <h4>Tercer Informe de Gobierno</h4>
  </div>
  <div class="currentNews">
<iframe width="250" height="300" src="//e.issuu.com/embed.html#1493577/4761858" frameborder="0" allowfullscreen></iframe><div class="title">
    <h4>FENAZA 2013</h4>
  </div>
  <div class="currentNews">
<iframe width="250" height="300" src="//e.issuu.com/embed.html#1493577/4762497" frameborder="0" allowfullscreen></iframe><div class="title">
	<h4>NOTICIAS AL DÍA</h4>
</div>
<div class="list">
	<ul class="mycarousel jcarousel jcarousel-skin-tango">
		{{range .site.MinuteByMinute}}
		<li><a href="{{.GetUrl}}">{{.title}}</a></li>
		{{end}}
	</ul>
</div>
<div class="news-pagination"> <small>MAS NOTICIAS</small></div>
