<div class="figure"> 
<!--http://www.ljz.mx/Assets/images/BANNER.gif-->
<a href="http://www.wearenotzombies.tv" target="_blank"><img src="http://infodem.com.mx/wanz_miercoles.gif" alt="add" /></a> 

<div class="title">
	<h4>#MarchaSolemneDeLos49
</h4>
<h3>Cortesía de WeAreNotZombies.tv</h3>
</div>
<iframe width="300" height="169" src="//www.youtube.com/embed/23CeFuI7ENs" frameborder="0" allowfullscreen></iframe>

<a href="/seccion/Boletin.html">
<img src="http://www.ljz.mx/Assets/images/BANNER.gif" alt="add" /></a> 
</div>
