<div class="figure"> 
<!--http://www.ljz.mx/Assets/images/BANNER.gif-->
<a href="http://www.wearenotzombies.tv" target="_blank"><img src="http://infodem.com.mx/wanz_miercoles.gif" alt="add" /></a> 

<div class="title">
	<h4> Tacología: Torito de Oro

</h4>

<h5>Cortesía de WeAreNotZombies.tv</h5>
</div>
<iframe width="330" height="186" src="//www.youtube.com/embed/9uAt3PS_GgU" frameborder="0" allowfullscreen></iframe>
<a href="/seccion/Boletin.html">
<img src="http://www.ljz.mx/Assets/images/BANNER.gif" alt="add" /></a> 
</div>
