<div class="title">
  <h4>Secciones</h4>
  <strong>MAS SECCIONES</strong>
</div>
<div class="carousel">
  <div class="carouse-bottom flexslider">
    <ul class="slides">
      <li>
        <div class="carousel-content">
          <h5>Ciencia y tecnología</h5>
          <a href="#"> <img src="Assets/images/img-1.jpg" alt="Lorem Ipsum" /> <span>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </span> </a> </div>
        </li>
        <li>
          <div class="carousel-content">
            <h5>Deportes</h5>
            <a href="#"> <img src="Assets/images/img-1.jpg" alt="Lorem Ipsum" /> <span>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</span> </a> </div>
          </li>
          <li>
            <div class="carousel-content">
              <h5>Cultura y espectáculos</h5>
              <a href="#"> <img src="Assets/images/img-1.jpg" alt="Lorem Ipsum" /> <span>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </span> </a> </div>
            </li>
            <li>
              <div class="carousel-content">
                <h5>Política</h5>
                <a href="#"> <img src="Assets/images/img-1.jpg" alt="Lorem Ipsum" /> <span>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </span> </a> </div>
              </li>

              <li>
                <div class="carousel-content">
                  <h5>Ciencia y tecnología</h5>
                  <a href="#"> <img src="Assets/images/img-1.jpg" alt="Lorem Ipsum" /> <span>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </span> </a> </div>
                </li>
                <li>
                  <div class="carousel-content">
                    <h5>Deportes</h5>
                    <a href="#"> <img src="Assets/images/img-1.jpg" alt="Lorem Ipsum" /> <span>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</span> </a> </div>
                  </li>
                  <li>
                    <div class="carousel-content">
                      <h5>Cultura y espectáculos</h5>
                      <a href="#"> <img src="Assets/images/img-1.jpg" alt="Lorem Ipsum" /> <span>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </span> </a> </div>
                    </li>
                    <li>
                      <div class="carousel-content">
                        <h5>Política</h5>
                        <a href="#"> <img src="Assets/images/img-1.jpg" alt="Lorem Ipsum" /> <span>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the </span> </a> </div>
                      </li>



                    </ul>
                  </div>
                </div>