{{if .}}
{{$first := index . 0 }}
<div class="title">
	<h4>{{ $first.GetCategories }}</h4>
</div>
{{ range . }}
<article class="SubContent">
	<a href="/{{ .url }}"><h3> {{ .title }}</h3></a>
  {{if .MainImgSize "m"}}
	<div class="grid_9 omega" style="max-height: 320px;overflow: hidden; margin-right: 5px;">
		<div style="max-height:260px; width:auto;"><img src="{{ .MainImgSize "m" }}" alt="pic" /> </div>
	</div>
	<div class="grid_7 alpha">
  {{else}}
  <div>
  {{end}}
		<ul class="comment">
			<li><a href="#">{{ .author }} </a>/</li>
      {{ if .date }}
			<li><a href="#">{{ .date | date_to_string }}</a>/</li>
      {{ end }}
			<li class="comment_icon"><a href="/{{ .url }}#disqus_thread"># </a></li>
		</ul>
		<article class="article"><p>{{ .GetIntrotext }} <a href="/{{ .url }}">Leer más...</a> </p></article>
	</div>
</article>
<br/><br/><br/>
<hr/>
{{end}}

{{else}}
<div class="title">
	<h4>No hay notas de esta sección</h4>
</div>
{{end}}
